.App {
  text-align: center;
}

.taskBg {
  background-color: #555;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 25px;
  position: relative;
}
.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: rgba(219, 189, 189, 0.344);
  border: 1px solid rgba(219, 189, 189, 0.344);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 22px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.4;
  flex: 1;
}
