.App {
  text-align: center;
}

.taskBg {
  background-color: #535151;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 25px;
  position: relative;
}
.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: rgba(219, 189, 189, 0.344);
  border: 1px solid rgba(219, 189, 189, 0.344);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 22px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.taskBg .taskText {
  flex: 1;
}
.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.4;
}
.iconWraper {
  display: inline-block;
  position: absolute;
  width: auto;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.taskBg .iconWraper span {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: rgba(72, 235, 69, 0.696);
}
.taskBg .iconWraper span:hover {
  color: rgb(5, 252, 26);
}
